{% if path is not null %}<form action="{{path}}" {% if attributes.method is not defined %} method="post"{% endif %}{{ formAttributes(attributes) }}>{% endif %}
	{% for name,field in form.fields %}
		{% if field.errors is defined and field.errors|length %}
			<ul class="form-errors">
				{% for error in field.errors %}
					<li>{{error}}</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if field.container is not defined or field.container != false %}<div{{ formAttributes(field.containerAttributes) }}>{% endif %}
			{% if field.label is defined and field.label != false %}
				<div{{ formAttributes(field.labelAttributes) }}>
					<label for="form_{{formParents(form.parents,'id')}}{{name}}">{{field.label}}{% if options.labelSuffix is defined %} [{{options.labelSuffix}}]{% endif %}</label>
				</div>
			{% endif %}
			{% if field.wrapper is not defined or field.wrapper != false %}<div{{ formAttributes(field.wrapperAttributes) }}>{% endif %}
				{{ formField(form,name,field,form.data[name],form.parents) }}
			{% if field.wrapper is not defined or field.wrapper != false %}</div>{% endif %}
		{% if field.container is not defined or field.container != false %}</div>{% endif %}
	{% endfor %}
{% if path is not null %}</form>{% endif %}
